    <!--Footer-->
    <div class="footer">
      <div class="footer-left">

      </div>
      <div class="footer-center">
        <span class="footer-caption">Copyright© 2019 Gut Buddies Theatre</span>
      </div>
      <div class="footer-right">
        <div class="social-red">
          <a class="facebook" target="_blank" href="https://www.facebook.com/gutbuddiestheatre"> <i class="fab social-red fa-facebook-f"></i></a>
          <a class="twitter" target="_blank" href="https://twitter.com/BuddiesGut?lang=en"> <i class="social-red fab fa-twitter"></i></a>
          <a class="instagram" target="_blank" href="https://www.instagram.com/gutbuddiestheatre"> <i class="fab social-red fa-instagram"></i></a>
        </div>
      </div>
    </div>
    </div>
  </body>

</html>
