<!-- Header -->
  <div class="header-center">
    <img class="logo" href="/" src="/assets/logo.svg"/>

    <div id="mobile-menu">

      <i id="burger" class="material-icons" onclick="burger()">menu</i>
      <i id="quit" class="material-icons" onclick="quit()">clear</i>

      <div id="links">

          <a class="menu-item" href="/company">About</a>

          <a class="menu-item" href="/projects">Projects</a>

          <a class="menu-item" href="/#tour">Tour</a>

          <a class="menu-item" href="/#contact">Contact</a>

          <div class="social-container">
            <div class="social-blue">
              <a class="facebook" target="_blank" href="https://www.facebook.com/gutbuddiestheatre"> <i class="fab blue fa-facebook-f"></i></a>
              <a class="twitter" target="_blank" href="https://twitter.com/BuddiesGut?lang=en"> <i class="fab blue fa-twitter"></i></a>
              <a class="instagram" target="_blank" href="https://www.instagram.com/gutbuddiestheatre"> <i class="fab blue fa-instagram"></i></a>
            </div>
          </div>

      </div>
    </div>

    <nav id="navigation-large">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="menu-item" href="/company">About</a>
          </li>
          <li class="nav-item">
            <a class="menu-item" href="/projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="menu-item" href="/#tour">Tour</a>
          </li>
          <li class="nav-item">
            <a class="menu-item" href="/#contact">Contact</a>
          </li>
        </ul>

        <div class="social-container">
          <div class="social-blue">
            <a class="facebook" target="_blank" href="https://www.facebook.com/gutbuddiestheatre"> <i class="fab blue fa-facebook-f"></i></a>
            <a class="twitter" target="_blank" href="https://twitter.com/BuddiesGut?lang=en"> <i class="fab blue fa-twitter"></i></a>
            <a class="instagram" target="_blank" href="https://www.instagram.com/gutbuddiestheatre"> <i class="fab blue fa-instagram"></i></a>
          </div>
        </div>

    </nav>
  </div>
