<!-- Header -->
  <div class="header-center">
    <img class="logo" href="/" src="/assets/logo.svg"/>

    <nav id="navigation-large">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          <li class="nav-item">
            <a class="nav-link" href="/company">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#tour">Tour</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#contact">Contact</a>
          </li>
        </ul>

        <div class="social-container">
          <div class="social-blue">
            <a class="facebook" target="_blank" href="https://www.facebook.com/gutbuddiestheatre"> <i class="fab blue fa-facebook-f"></i></a>
            <a class="twitter" target="_blank" href="https://twitter.com/BuddiesGut?lang=en"> <i class="fab blue fa-twitter"></i></a>
            <a class="instagram" target="_blank" href="https://www.instagram.com/gutbuddiestheatre"> <i class="fab blue fa-instagram"></i></a>
          </div>
          
    </nav>
        </div>
      </div>
    </nav>
  </div>
