<!-- Header -->
  <div class="header-center">
    <img class="logo" src="assets/logo.svg"/>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="https://www.gutbuddiestheatre.com">Home<span class="sr-only">(current)</span></a>
          <li class="nav-item active">
            <a class="nav-link" href="{{ site.url }}/#about">About<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.url }}/#gbprojects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.url }}/#tour">Tour</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.url }}/#contact">Contact</a>
          </li>
        </ul>
        <div class="social-container">
          <div class="social-blue">
            <a class="facebook" target="_blank" href="https://www.facebook.com/gutbuddiestheatre"> <i class="fab blue fa-facebook-f"></i></a>
            <a class="twitter" target="_blank" href="https://twitter.com/BuddiesGut?lang=en"> <i class="fab blue fa-twitter"></i></a>
            <a class="instagram" target="_blank" href="https://www.instagram.com/gutbuddiestheatre"> <i class="fab blue fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </nav>
  </div>
