/*Colours*/
$gyellow: #FADD8B;
$gblue: #1A3557;
$gred: #B25B48;

@font-face {
  font-family: "Campton-Bold";
  src: url("../fonts/Campton Bold.otf");
}
@font-face {
  font-family: "Campton-Book";
  src: url("../fonts/Campton Book.otf");
}

* {
  font-family: Campton-Book, Helvetica, sans-serif;
  padding: 0;
}
body {
  padding: 0;
  margin: 0;
  background-color: $gyellow;
}
#container {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
strong {
  font-family: Campton-Bold, Helvetica, sans-serif;
}
a {
  font-family: Campton-Book, Helvetica, sans-serif;
  color: inherit;
  text-decoration: none;
}

p {
  color: #1A3557;
  font-family: Campton-Book, Helvetica, sans-serif;
}

h1 {
  font-family: Campton-Bold , Helvetica, sans-serif;
  color: #B25B48;
}

h2 {
  font-family: Campton-Bold , Helvetica, sans-serif;
  color: #FADD8B;
  font-size: 2em;
  text-align: center;
}

h3 {
  color: #1A3557;
  font-family: Campton-Bold;
}

h3.about {
  font-style: italic;
}

li {
  font-family: Campton, Helvetica, sans-serif;
  color: #1A3557;
  min-width: fit-content;

}

line {
  color: #1A3557;
}
/*Header*/

.header-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2em;
  background-color: #FADD8B;
  border-bottom: solid;
  border-color: #1A3557;
}

.navigation {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
}

a.logo {
  width: 50%;
}

.menu-item {
  font-family: Campton-Bold , Helvetica, sans-serif;
  text-decoration: none;
  color: #1A3557;
  font-size: 1em;
}
.fab.blue {
  font-size: 1.3em;
  color: #1A3557;
  margin-right: 0.5em;
}

/*Footer*/

.footer{
  border-top: solid;
  border-color: $gred;
}
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5em 0 1.5em 0;
}


.fab.social-red.fa-instagram, .fab.social-red.fa-twitter {
  padding-left: 1em;
}

.social-red {
  font-size: 1.3em;
  color: #B25B48;
  display: flex;
  justify-content: space-around;
}

.footer-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

  span.footer-caption {
  color: #B25B48;
  font-family: Campton-Book, Helvetica, sans-serif;
  text-align: center;
}
