---
layout: default
---

    <div class="company-wrapper">

      <div class="company_picture" style="background: url({{ page.company_picture }});">
      </div>
      
      <div class="red band">
      </div>
      <div class="the-company">

        <div class="title">
          <h1>The Company</h1>
        </div>

        <p class="bio">
          {{ page.company_bio | markdownify}}
        </p>

      </div>
    </div>

    <div class="people-container">

      <div class="title-people">
        <h1>The People</h1>
      </div>

      <div class="blue band">
      </div>

      <div class="row-people">

        {% for item in page.people %}

          <div class="person">
            <img class="avatar" src="{{ item.avatar }}" alt="">
            <h3 class="person">{{ item.name }}</h3>
            <p>{{ item.bio }}</p>
          </div>

        {% endfor %}

      </div>
    </div>
