---
layout: default
---
<body>
  <div class="title-homepage">
      <!-- just a background image-->
    </div>

    <div id="about" class="about-wrapper">
        <h1>About</h1>

        <h3 class="about">
          Gut Buddies is a physical theatre company specialising in absurdist comedy. <br>We are an international troupe, based in Berlin.
        </h3>

        <div class="cta-container">
          <a class="cta" href="/company/">Read More</a>
        </div>
      </div>

      <div id="gbprojects"class="gbprojects">
        <a class="projects-link" href="/projects/">
          <div class="gbprojects-container">
            <h2>Projects</h2>
          </div>
        </a>
      </div>


    <div id="tour" class="tour">
      <div class="title">
        <h1>Tour</h1>
      </div>
        <div class="tour-wrapper">
          <ul class="tour">
              <li>December 2018 - <a href="http://www.ada-studio.de/" target="_blank">Ada Studio</a> - <strong>Berlin, Germany</strong></li>
              <li>20 January 2019 - "Sudarshan/ Artsfactor" - <strong>Pune India</strong></li>
              <li>27th January 2019- "United Arts Foundation" - <strong>Bangalore, India</strong></li>
              <li>17th February 2019 - "Padatik Venue" - <strong>Kolkata, India</strong></li>
              <li>24th February 2019 - "UP 80 Residency" - <strong>Agra, India</strong></li>
              <li><strong>Edinburgh Fringe Festival 2019 - TBC</strong></li>
          </ul>
        </div>
    </div>

    <div id="contact" class="contact">

      <h2>Contact Us</h2>

      <div class="contact-details">
        <a class="email" href="mailto:hello@gutbuddiestheatre.com">hello@gutbuddiestheatre.com</a>
        <div class="social-yellow">
          <a class="facebook" target="_blank" href="https://www.facebook.com/gutbuddiestheatre"> <i class="social-yellow fab fa-facebook-f"></i></a>
          <a class="twitter" target="_blank" href="https://twitter.com/BuddiesGut?lang=en"> <i class="social-yellow fab fa-twitter"></i></a>
          <a class="instagram" target="_blank" href="https://www.instagram.com/gutbuddiestheatre"> <i class="social-yellow fab fa-instagram"></i></a>
        </div>

      </div>

    </div>
</body>
