---
layout: default
---
<body>
  <div class="title-homepage">
      <!-- just a background image-->
    </div>

    <div id="about" class="about-wrapper">
        <h1>About</h1>

        <h3 class="about">
          {{ page.about }}
        </h3>

        <div class="cta-container">
          <a class="cta" href="/company/">Read More</a>
        </div>
      </div>

      <div id="gbprojects"class="gbprojects">
        <a class="projects-link" href="/projects/">
          <div class="gbprojects-container">
            <h2>Projects</h2>
          </div>
        </a>
      </div>


    <div id="tour" class="tour">

          <div class="tour-left">

            <h3>Up Next</h3>
            <div class="tour-up-next">
              <video class="up-next" src="/assets/gut-buddies-brighton-fringe.mp4" autoplay loop >
              </video>
              <div class="cta-container-yellow">
                <a class="cta red" target="_blank" href="https://www.brightonfringe.org/whats-on/gut-buddies-135880/">Book Tickets</a>
              </div>
            </div>

          </div>

          <div class="tour-right">
            <h1>Tour</h1>
            <ul class="tour">

              {% for item in page.tour %}
                {% if item.last-date %}

              {% if item.link %}
              <a {% if item.past != true %} href="{{ item.link }}" {% endif %} target="_blank">
              {% endif %}
                <li {% if item.past == true %} style="color: rgba(32, 52, 85, 0.5);" {% endif %}> {% assign day = item.first-date | date: "%-d" %}
                {% case day %}
                  {% when '1' or '21' or '31' %}{{ day }}st
                  {% when '2' or '22' %}{{ day }}nd
                  {% when '3' or '23' %}{{ day }}rd
                  {% else %}{{ day }}th
                {% endcase %}
                -
                {% assign day = item.last-date | date: "%-d" %}
                  {% case day %}
                    {% when '1' or '21' or '31' %}{{ day }}st
                    {% when '2' or '22' %}{{ day }}nd
                    {% when '3' or '23' %}{{ day }}rd
                    {% else %}{{ day }}th
                  {% endcase %}

                {{ item.first-date | date: "of %B, %Y" }}<data value=""></data> - <span style="font-style: italic;">{{ item.venue }}</span> {% if item.venue %} - {% endif %} <strong>{{ item.city }}, {{ item.country }}</strong></li>
              {% if item.link %}
                </a>
              {% endif %}

                  {% else %}

                  <li {% if item.past == true %} style="color: rgba(32, 52, 85, 0.5);" {% endif %}> {% assign day = item.first-date | date: "%-d" %}
                    {% case day %}
                      {% when '1' or '21' or '31' %}{{ day }}st
                      {% when '2' or '22' %}{{ day }}nd
                      {% when '3' or '23' %}{{ day }}rd
                      {% else %}{{ day }}th
                    {% endcase %}
                    {{ item.first-date | date: "of %B, %Y" }}<data value=""></data> - <a style="font-style: italic;" {% if item.past == false %} href="{{ item.link }}" {% endif %} target="_blank">{{ item.venue }}</a> {% if item.venue %} - {% endif %}<strong>{{ item.city }}, {{ item.country }}</strong></li>

                {% endif %}
              {% endfor%}

            </ul>
          </div>
        </div>


    <div id="contact" class="contact">

      <h2>Contact Us</h2>

      <div class="contact-details">

        <a class="email" href="mailto:hello@gutbuddiestheatre.com">hello@gutbuddiestheatre.com</a>

        <div class="social-yellow">
          <a class="facebook" target="_blank" href="https://www.facebook.com/gutbuddiestheatre"> <i class="social-yellow fab fa-facebook-f"></i></a>
          <a class="twitter" target="_blank" href="https://twitter.com/BuddiesGut?lang=en"> <i class="social-yellow fab fa-twitter"></i></a>
          <a class="instagram" target="_blank" href="https://www.instagram.com/gutbuddiestheatre"> <i class="social-yellow fab fa-instagram"></i></a>
        </div>

      </div>

    </div>
