---
layout: default
---
  <body class="projects-page">

    <div class="title">
      <h1>Projects</h1>
    </div>

    <!--Gut Buddies-->
    <div class="portfolio-item right">
      <div class="column-half gutbuddies-photo">
        <img class="portfolio-photo" src="/assets/projects/Asset 1pj.png" alt="">
      </div>
        <div class="column-half portfolio-text right-lip">
          <h2>Gut Buddies</h2>
            <p class="yellow">{{ page.gutbuddies }}
            </p>

            <div class="cta-container-yellow">
              <a class="cta yellow" target="_blank" href="https://vimeo.com/293715464">Watch Teaser</a>
            </div>

        </div>
    </div>

    <!--Who's at the door-->
    <div class="portfolio-item left">
      <div class="column-half portfolio-text left-lip">
        <h2>Who’s at the door, we can’t be sure</h2>
          <p class="yellow"> {{ page.cats | markdownify }} </p>
      </div>

      <div class="column-half cats-photo">
        <img class"portfolio-photo" src="/assets/projects/Asset 3pj.png" alt=""/>
      </div>

    </div>

    <!--Barbados-->
    <div class="portfolio-item right">
      <div class="column-half barbados-photo">
        <img class="portfolio-photo" src="/assets/projects/Asset 4pj.png" alt=""/>
      </div>
        <div class="column-half portfolio-text right-lip">
          <h2>Barbados</h2>
            <p class="yellow">
              A box, placed in the centre, acting as a pedestal for the brightly lit cookie. It is an empty space, apart from Jonny and Robert, one following the other, and both showing “rattish” behaviour. They are arguing about their differences,
              and frustrated by their dependencies. They appear to be lost, moving forwards, as invisible forces disrupt their journey. It is a story of conformity, brotherhood, desperation and manipulation.
            </p>
        </div>
      </div>

    <!--In Nature's Honour-->
    <div class="nature-honour-wrapper">
      <div class="nature-honour-text">
        <h2>In Nature's Honour</h2>
        <p class="nature-text yellow">A surreal journey of when man meets an android, a bath, and a fish. Through a simple effort to honour the natural world, his reality begins to warp as if his attempt to pay tribute backfires.</p>
      </div>

      <div class="nature-honour-photos">

            <img class="main-pic nature"src="/assets/projects/Asset 5pj.png" alt="">
            <img class="mat nature"src="/assets/projects/Asset 6pj.png" alt="">
            <img class="fish nature"src="/assets/projects/Asset 7pj.png" alt="">
      </div>
    </div>
</body>
